{% extends "base.html" %}

{% block content %}

{% if items %}

    <ul class="list-group">
    {% for item in items %}
        <li class="list-group-item">
            <p class="lead">{{ item.item }} - &pound;{{ item.price }}</p>
            <p><a href="{% url 'price' item.id %}">Get Price From Tesco</a></p>
            
            <p><a href="{% url 'delete' item.id %}">Delete</a></p>
        </li>
    {% endfor %}
    </ul>

{% else %}

    <p>Shopping list is empty.</p>

{% endif %}

{% endblock %}